.navul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}